#flex{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    margin-bottom: 30px;
}
#head{
    color: #767776;
}











@media (max-width : 900px) {
    #flex {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 300px;
    }
}